.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.h-link {
    color: black;
}

.dynamic-content {
    display: none;
}

.btn-circle {
    width: 120px;
    height: 120px;
    padding: 13px 18px;
    border-radius: 60px;
    border-color: black;
    font-size: 15px;
    text-align: center;
}

.img-rosto {
    border-radius: 50%;
    max-width: 550px;
    max-height: 550px;
    width: 100%;
    height: auto;
}

.img-project {
    border-radius: 1%;
}

.link {
    cursor: pointer;
}
