.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.img_rosto {
    border-radius: 50%;
    max-width: 450px;
    max-height: 450px;
    width: auto;
    height: auto;
}

.btn-circle {
    width: 120px;
    height: 120px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}
