<div class="container">
    <h1 class="text-left">Contato</h1>

    <hr>
    <div class="row align-items-center">
        <div class="col-6">
            <div class="p-5">
                <p>Se você está procurando maneiras de expandir sua presença online e alcançar seus objetivos digitais, eu
                    posso ajudá-lo. </p>

                <p>Como um especialista em tecnologia, tenho as habilidades e o conhecimento necessários
                    para ajudá-lo a construir uma estratégia digital bem-sucedida e alcançar seus objetivos.
                </p>
                <p> Estou ansioso por continuar a discutir esta oportunidade e estou
                    disponível para marcamos um conferência.
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="card-body">
                <form action="mailto:henriquedalmagro04@gmail.com" method="post" enctype="text/plain">
                    <!-- Header -->
                    <div class="form-header">
                        <h3 class="mt-2 text-center"><i class="fa-solid fa-paper-plane"></i> Vamos Conversar</h3>
                    </div>

                    <!-- Body -->
                    <div class="md-form p-2"><i class="fa-solid fa-tag"></i>
                        <label for="form-Subject" class="form-label">Assunto</label>
                        <input type="text" id="form-Subject" name="subject" placeholder="Assunto" class="form-control"
                            required />
                    </div>

                    <div class="md-form p-2"><i class="fa-solid fa-pencil"></i>
                        <label for="form-text" class="form-label">Mensagem</label>
                        <textarea id="form-text" name="body" placeholder="Sobre o que você gostaria de falar!?"
                            class="form-control md-textarea " rows="5" style="overflow-y: scroll;"></textarea>
                    </div>

                    <div class="text-center">
                        <input type="submit" name="submit" value="Enviar" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>