<div class="container">
    <h1 class="text-left">Curriculo</h1>

    <hr>
    <!-- Experiência laboral -->
    <div class="row p-2">
        <div class="col-md-4">
            <h3><i class="fa-solid fa-suitcase"></i> Experiência laboral</h3>
        </div>

        <div class="col-md-1">
            <p>2021-11 <br> 2022-11</p>
        </div>

        <div class="col-md-7">
            <h4>Estagiario de TI</h4>
            <p>SEAMA - Secretaria Estadual do Meio Ambiente e Recursos
                Hídricos, Vitoria
            </p>
            <ul class="list-group">
                <li class="list-group-item">Trabalhei no setor de TI em tarefas diversas como planejamento, análise,
                    modelagem e desenvolvimento de softwares, banco de dados e suporte
                    help desk</li>
                <li class="list-group-item">Buscando encontrar soluções satisfatórias para as demandas atribuídas,
                    mantendo calma e a cordialidade mesmo em momentos de estresse.
                </li>
            </ul>
        </div>
    </div>

    <hr>
    <div class="row p-2">
        <!-- Primeira fomração -->
        <div class="col-md-4">
            <h3><i class="fa-sharp fa-solid fa-graduation-cap"></i> Formação acadêmica</h3>
        </div>

        <div class="col-md-1">
            <p>2023-03 <br> Atual</p>
        </div>

        <div class="col-md-7">
            <h4>Bacharel, Sistemas de informação</h4>
            <p>UCL - Faculdade do Centro Leste, Serra
            </p>
        </div>

        <!-- Segunda formação -->
        <div class="col-md-4"></div>

        <div class="col-md-1">
            <p>2020-02 <br> 2022-12</p>
        </div>

        <div class="col-md-7">
            <h4>Técnico, Informática para Internet</h4>
            <p>IFES - Instituto Federal de Educação do Espírito Santo, Serra</p>
        </div>
    </div>

    <!-- Curos -->
    <hr>
    <div class="row p-2">
        <!--Primeiro curso-->
        <div class="col-md-4">
            <h3><i class="fa-solid fa-book"></i> Cursos</h3>
        </div>

        <div class="col-md-1">
            <p>2022-08</p>
        </div>

        <div class="col-md-7">
            <h4>Manutenção em Hardware e Robotica</h4>
            <p>Microcamp Vitória - 184h</p>
        </div>

        <!-- Segundo Curso -->
        <div class="col-md-4"></div>

        <div class="col-md-1">
            <p>2020-09</p>
        </div>

        <div class="col-md-7">
            <h4>Programação C# e Banco de Dados SQL</h4>
            <p>Microlins Vitoria - 76h</p>
        </div>

        <!-- Terceiro curso-->
        <div class="col-md-4"></div>

        <div class="col-md-1">
            <p>2019-05</p>
        </div>

        <div class="col-md-7">
            <h4>Treinamento Profissional em Informatica</h4>
            <p>Cedaspy Vitória - 324h</p>
        </div>
    </div>

    <!-- Certificados -->
    <hr>
    <div class="row p-2">
        <!--Primeiro ceritifcado-->
        <div class="col-md-4">
            <h3><i class="fa-solid fa-medal"></i> Certificados</h3>
        </div>
        
        <div class="col-md-1">
            <p>2022-05</p>
        </div>

        <div class="col-md-7">
            <h4>Introdução a Gestão de Projetos</h4>
            <p>Fundação Bradesco - 10h</p>
        </div>

        <!-- Terceiro certificado -->
        <div class="col-md-4"></div>

        <div class="col-md-1">
            <p>2018-12</p>
        </div>

        <div class="col-md-7">
            <h4>Introdução à Programação C</h4>
            <p>UFES - Nucleo de Cidadania Digital - 40h</p>
        </div>
    </div>
</div>