<div class="container">
    <h1 class="text-left">Curriculo</h1>

    <hr>
    <!-- Experiência laboral -->
    <div class="row p-2">
        <div class="col-md-4">
            <h3><i class="fa-solid fa-suitcase"></i> Experiência laboral</h3>
        </div>

        <div class="col-md-1 text-center">
            <p>2023-04 <br> Atual </p>
        </div>

        <div class="col-md-7 mb-4">
            <h4>Programador Jr</h4>
            <p>INCAPER - Instituto Capixaba de Pesquisa, Assistência Técnica e Extensão Rural, Vitoria</p>
            <ul class="list-group">
                <li class="list-group-item">Trabalhando no desenvolvimento e planejamento do projeto SATD-ES - Sistema de 
                    Aquisição e Tratamento de Dados Agro-meteorológicos do Espirito Santo, com intuito de gerar consultas e boletins dessas informações</li>
                <li class="list-group-item">Responsável pela modelagem do banco de dados e construção do servidor web PHP, auxiliando tambem a integração das atividades dos demais colaboradores</li>
            </ul>
        </div>

        <div class="col-md-1 offset-md-4 text-center">
            <p>2021-11 <br> 2022-11</p>
        </div>

        <div class="col-md-7">
            <h4>Estagiário de TI</h4>
            <p>SEAMA - Secretaria Estadual do Meio Ambiente e Recursos
                Hídricos, Vitoria
            </p>
            <ul class="list-group">
                <li class="list-group-item">Trabalhei no setor da TI em tarefas diversas como HelpDesk, manutenção de hardware e redes, valorizando a comunicação e a transparência a fim de entregar um serviço de excelência.</li>
                <li class="list-group-item">Buscando encontrar soluções satisfatórias para as demandas atribuídas,
                    mantendo calma e a cordialidade mesmo em momentos de estresse.
                </li>
            </ul>
        </div>
    </div>

    <hr>
    <div class="row p-2">
        <!-- Primeira fomração -->
        <div class="col-md-4">
            <h3><i class="fa-sharp fa-solid fa-graduation-cap"></i> Formação acadêmica</h3>
        </div>

        <div class="col-md-1 text-center">
            <p>2023-03 <br> Atual</p>
        </div>

        <div class="col-md-7">
            <h4>Bacharel, Sistemas de informação</h4>
            <p>UCL - Faculdade do Centro Leste, Serra
            </p>
        </div>

        <!-- Segunda formação -->
        <div class="col-md-1 offset-md-4 text-center">
            <p>2020-02 <br> 2022-12</p>
        </div>

        <div class="col-md-7">
            <h4>Técnico, Informática para Internet</h4>
            <p>IFES - Instituto Federal de Educação do Espírito Santo, Serra</p>
        </div>
    </div>

    <!-- Curos -->
    <hr>
    <div class="row p-2">
        <!--Primeiro curso-->
        <div class="col-md-4">
            <h3><i class="fa-solid fa-book"></i> Cursos</h3>
        </div>

        <div class="col-md-1 text-center">
            <p>2022-08</p>
        </div>

        <div class="col-md-7">
            <h4>Manutenção em Hardware e Robótica</h4>
            <p>Microcamp Vitória - 184h</p>
        </div>

        <!-- Segundo Curso -->
        <div class="col-md-1 offset-md-4 text-center">
            <p>2020-09</p>
        </div>

        <div class="col-md-7">
            <h4>Programação C# e Banco de Dados SQL</h4>
            <p>Microlins Vitória - 76h</p>
        </div>

        <!-- Terceiro curso-->
        <div class="col-md-1 offset-md-4 text-center">
            <p>2019-05</p>
        </div>

        <div class="col-md-7">
            <h4>Treinamento Profissional em Informática</h4>
            <p>Cedaspy Vitória - 324h</p>
        </div>
    </div>

    <!-- Certificados -->
    <hr>
    <div class="row p-2">
        <!--Primeiro ceritifcado-->
        <div class="col-md-4">
            <h3><i class="fa-solid fa-medal"></i> Certificados</h3>
        </div>
        
        <div class="col-md-1 text-center">
            <p>2022-05</p>
        </div>

        <div class="col-md-7">
            <h4>Introdução a Gestão de Projetos</h4>
            <p>Fundação Bradesco - 10h</p>
        </div>

        <!-- Terceiro certificado -->
        <div class="col-md-1 offset-md-4 text-center">
            <p>2018-12</p>
        </div>

        <div class="col-md-7">
            <h4>Introdução a Programação C</h4>
            <p>UFES - Núcleo de Cidadania Digital - 40h</p>
        </div>
    </div>
</div>