<div class="container">
    <div class="row align-items-center p-5">

        <!-- Imagem rosto -->
        <div class="col-lg-6">
            <picture>
                <source srcset="img/eu.jpg" type="image/svg+xml">
                <img src="img/eu.jpg" class="img-fluid  img-thumbnail img-rosto " alt="eu.jpg">
            </picture>
            
        </div>

        <!-- Sobre mim -->
        <div class="col-md-6">
            <h1>Ola!</h1>

            <h4>Um pouco sobre mim</h4>
            <p>Sou estudante em desenvolvimento de software com ênfase em sistemas web/mobile e
                tecnologia da informação.
            </p>
            <p>Sendo entusiasta de boas práticas e metodologias de trabalho com
                grande disposição para o aprendizado e a aplicação de conhecimentos e habilidades
                interpessoais
            </p>
            <p>Buscando crescer no âmbito profissional junto à empresa e criar soluções
                inovadoras.
            </p>

            <!-- Atalhos -->
            <div class="row text-center">
                <div class="col">
                    <button id="btn-curriculo" type="button" class="btn btn-warning btn-circle">Curriculo</button>
                </div>
                <div class="col">
                    <button id="btn-projetos" type="button" class="btn btn-danger btn-circle">Projetos</button>
                </div>
                <div class="col">
                    <button id="btn-contatos" type="button" class="btn btn-info btn-circle">Contatos</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-5">

        <!-- Informações -->
        <div class="col-md-4">
            <h4 class="text-center"><i class="fa-solid fa-user"></i> Informações</h4>

            <div class="m-4 p-2">
                <p><i class="fa-solid fa-at"></i> Henriquedalmagro04@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> +55 (27) 99926-1573</p>
                <p><i class="fa-solid fa-map-location-dot"></i> Vitoria/ES, Brasil</p>
                <p><i class="fa-solid fa-earth-americas"></i> <a class="h-link" href="https://simpler1ick.github.io/">simpler1ick.github.io<a></p>
                <p><i class="fa-brands fa-linkedin-in"></i> <a class="h-link" href="https://www.linkedin.com/in/simpler1ick/"> linkedin.com/in/simpler1ick/</a></p>
                <p><i class="fa-brands fa-github"></i> <a class="h-link" href="https://github.com/SimpleR1ick"> github.com/SimpleR1ick</a></p>
                <p><i class="fa-solid fa-cake-candles"></i> 28 de Setembro de 2004</p>
            </div>
        </div>

        <!-- Habilidades -->
        <div class="col-md-4">
            <h4 class="text-center"><i class="fa-solid fa-bolt-lightning"></i> Habilidades</h4>

            <div class="m-4 text-center">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Experiência com ferramentas e
                        tecnologias da área de
                        desenvolvimento de sistemas</li>

                    <li class="list-group-item">Responsabilidade e autonomia para
                        realização de trabalho remoto</li>

                    <li class="list-group-item">Proatividade e iniciativa para
                        resolução de problemas</li>

                    <li class="list-group-item">Bom relacionamento interpessoal
                        para trabalho em equipe</li>
                </ul>
            </div>
        </div>

        <!-- Competências -->
        <div class="col-md-4">
            <h4 class="text-center"><i class="fa-solid fa-clipboard-list"></i> Competencias</h4>

            <div class="m-4 p-2 text-center">
                <p>HTML/CSS</p>

                <p>JavaScript</p>

                <p>Python</p>

                <p>PHP</p>

                <p>Java</p>

                <p>PostgreSQL</p>

                <p>MySQL</p>
            </div>
        </div>
    </div>
</div>

<script src="js/buttons.js"></script>