<div class="container">
    <div class="row align-items-center p-5">

        <!-- Imagem rosto -->
        <div class="col-md-6">
            <img src="img/eu.jpg" class="img-fluid img-rosto " alt="eu.jpg">
        </div>

        <!-- Sobre mim -->
        <div class="col-md-6">
            <h1>Ola!</h1>

            <h4>Um pouco sobre mim</h4>
            <p>Sou estudante em desenvolvimento de software com ênfase em sistemas web/mobile e
                tecnologia da informação.
            </p>
            <p>Sendo entusiasta de boas práticas e metodologias de trabalho com
                grande disposição para o aprendizado e a aplicação de conhecimentos e habilidades
                interpessoais
            </p>
            <p>Buscando crescer no âmbito profissional junto à empresa e criar soluções
                inovadoras.
            </p>

            <!-- Atalhos -->
            <div class="row">
                <div class="col-4">
                    <button id="btn-curriculo" type="button" class="btn btn-warning btn-circle">Curriculo</button>
                </div>
                <div class="col-4">
                    <button id="btn-projetos" type="button" class="btn btn-danger btn-circle">Projetos</button>
                </div>
                <div class="col-4">
                    <button id="btn-contatos" type="button" class="btn btn-info btn-circle">Contatos</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-4">

        <!-- Informações -->
        <div class="col-md-4">
            <h4 class="text-center"><i class="fa-solid fa-user"></i> Informações</h4>

            <div class="m-4 text-center">
                <p><b>E-mail</b><br>Henriquedalmagro04@gmail.com</p>

                <p><b>Telefone</b><br>Whatsapp: +55 (27) 99926-1573</p>

                <p><b>Endereço</b><br>Rua Dionysio Abaurre, 543 Vitoria, ES 29090-630</p>

                <p><b>Nascimento</b><br>28 de Setembro de 2004</p>
            </div>
        </div>

        <!-- Habilidades -->
        <div class="col-md-4">
            <h4 class="text-center"><i class="fa-solid fa-bolt-lightning"></i> Habilidades</h4>

            <div class="m-4 text-center">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Experiência com ferramentas e
                        tecnologias da área de
                        desenvolvimento de sistemas</li>

                    <li class="list-group-item">Responsabilidade e autonomia para
                        realização de trabalho remoto</li>

                    <li class="list-group-item">Proatividade e iniciativa para
                        resolução de problemas</li>

                    <li class="list-group-item">Bom relacionamento interpessoal
                        para trabalho em equipe</li>
                </ul>
            </div>
        </div>

        <!-- Competências -->
        <div class="col-md-4">
            <h4 class="text-center"><i class="fa-solid fa-clipboard-list"></i> Competencias</h4>

            <div class="m-4 text-center">
                <p>HTML/CSS</p>

                <p>JavaScript</p>

                <p>Python</p>

                <p>PHP</p>

                <p>Java</p>

                <p>C#</p>

                <p>PostgreSQL</p>

                <p>MySQL</p>
            </div>
        </div>
    </div>
</div>

<script src="js/buttons.js"></script>