<div class="container">
	<div class="row pt-5 align-items-center">

		<!-- Imagem rosto -->
		<section class="col-lg-6">
			<picture>
				<source srcset="img/eu.png" type="image/svg+xml">
				<img src="img/eu.png" class="img-fluid img-thumbnail img-rosto w-100 w-md-auto" alt="eu.png">
			</picture>
		</section>

		<!-- Sobre mim -->
		<div class="col-lg-6">
			<h1>Ola!</h1>

			<h4>Um pouco sobre mim</h4>

			<p>Sou um estudante de desenvolvimento de sistemas web/mobile apaixonado por tecnologia da informação, em constante busca por novos conhecimentos e oportunidades para crescer profissionalmente.
			</p>
			<p>Como entusiasta de boas práticas e metodologias de trabalho, estou sempre em busca de aprender novos conhecimentos e melhorar minhas habilidades interpessoais, a fim de aprimorar minha atuação profissional.
			</p>
			<p>Meu objetivo é criar soluções de software inovadoras, que agreguem valor a sociedade e melhorem a vida das pessoas por meio da tecnologia.
			</p>

			<!-- Atalhos -->
			<div class="row p-1 text-center">
				<div class="col">
					<button id="btn-curriculo" type="button" class="btn btn-outline-primary btn-circle"><i
							class="fa-regular fa-clipboard fa-xl"></i> Curriculo</button>
				</div>
				<div class="col">
					<button id="btn-projetos" type="button" class="btn btn-outline-danger btn-circle"><i
							class="fa-regular fa-file-code fa-xl"></i> Projetos</button>
				</div>
				<div class="col">
					<button id="btn-contatos" type="button" class="btn btn-outline-success btn-circle"><i
							class="fa-regular fa-address-book fa-xl"></i> Contatos</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row pt-5">

		<!-- Informações -->
		<div class="col-md-4">
			<h4 class="text-center"><i class="fa-solid fa-user"></i> Informações</h4>

			<div class="m-4 p-2">
				<p><i class="fa-solid fa-at"></i> henriquedalmagro04@gmail.com</p>
				<p><i class="fa-solid fa-phone"></i> +55 (27) 99926-1573</p>
				<p><i class="fa-solid fa-map-location-dot"></i> Vitoria/ES, Brasil</p>
				<!--<p><i class="fa-solid fa-earth-americas"></i> <a class="h-link" href="https://simpler1ick.github.io/">simpler1ick.github.io<a></p>-->
				<p><i class="fa-brands fa-linkedin-in"></i> <a class="h-link"
						href="https://www.linkedin.com/in/simpler1ick/"> linkedin.com/in/simpler1ick/</a></p>
				<p><i class="fa-brands fa-github"></i> <a class="h-link" href="https://github.com/SimpleR1ick">
						github.com/SimpleR1ick</a></p>
				<p><i class="fa-solid fa-cake-candles"></i> 28 de Setembro de 2004</p>
			</div>
		</div>

		<!-- Habilidades -->
		<div class="col-md-4">
			<h4 class="text-center"><i class="fa-solid fa-bolt-lightning"></i> Habilidades</h4>

			<div class="m-4 text-center">
				<ul class="list-group list-group-flush">

					<li class="list-group-item">Experiência com ferramentas e
						tecnologias da área de
						desenvolvimento de sistemas</li>

					<li class="list-group-item">Responsabilidade e autonomia para
						realização de trabalho remoto</li>

					<li class="list-group-item">Proatividade e iniciativa para
						resolução de problemas</li>

					<li class="list-group-item">Bom relacionamento interpessoal
						para trabalho em equipe</li>
				</ul>
			</div>
		</div>

		<!-- Competências -->
		<div class="col-md-4">
			<h4 class="text-center"><i class="fa-solid fa-clipboard-list"></i> Competências</h4>

			<!-- Front-end -->
			<div class="dropdown-center mt-4 p-2 text-center">
				<a class="btn btn-outline-dark dropdown-toggle dp" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Front-end
				</a>

				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="https://www.w3schools.com/html/" target="_blank">Html</a></li>
					<li><a class="dropdown-item" href="https://www.w3schools.com/css/default.asp" target="_blank">Css</a></li>
					<li><a class="dropdown-item" href="https://www.w3schools.com/js/default.asp" target="_blank">JavaScript</a></li>
					<li><a class="dropdown-item" href="https://jquery.com/" target="_blank">Jquery</a></li>
				</ul>
			</div>

			<!-- Backend -->
			<div class="dropdown-center m-3 p-2 text-center">
				<a class="btn btn-outline-dark dropdown-toggle dp" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Back-end
				</a>

				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="https://nodejs.org/en" target="_blank">Node JS</a></li>
					<li><a class="dropdown-item" href="https://www.python.org/" target="_blank">Python</a></li>
					<li><a class="dropdown-item" href="https://www.php.net/" target="_blank">PHP</a></li>
					<li><a class="dropdown-item" href="https://www.java.com/pt-BR/" target="_blank">Java</a></li>
					<li><a class="dropdown-item" href="https://learn.microsoft.com/pt-br/dotnet/csharp/" target="_blank">C#</a></li>
				</ul>
			</div>

			<!-- Databases -->
			<div class="dropdown-center m-3 p-2 text-center">
				<a class="btn btn-outline-dark dropdown-toggle dp" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Databases
				</a>

				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="https://www.postgresql.org/download/" target="_blank">PostgreSQL</a></li>
					<li><a class="dropdown-item" href="https://www.mysql.com/" target="_blank">MySQL</a></li>
					<li><a class="dropdown-item" href="https://www.microsoft.com/pt-br/sql-server/sql-server-downloads" target="_blank">SQL Server</a></li>
				</ul>
			</div>

			<!-- Frameworks -->
			<div class="dropdown-center m-3 p-2 text-center">
				<a class="btn btn-outline-dark dropdown-toggle dp" href="#" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Frameworks
				</a>

				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
					<li><a class="dropdown-item" href="https://materializecss.com/" target="_blank">Materialize</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="https://expressjs.com/pt-br/"target="_blank">Express JS</a></li>
					<li><a class="dropdown-item" href="https://www.djangoproject.com/" target="_blank">Django</a></li>
					<li><a class="dropdown-item" href="https://laravel.com/" target="_blank">Laravel</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script src="js/buttons.js"></script>