<div class="container">
    <h1 class="text-left">Projetos</h1>

    <hr>
    <div class="row p-2">
        <div class="col-md-6">
            <h4><i class="fa-solid fa-screwdriver-wrench"></i> Desenvolvedor Back-end</h4>
            <p>Manual do Calouro - Serra</p>

            <ul class="list-group">
                <li class="list-group-item">É uma aplicação web com intuito de reunir informações importantes ao
                    corpo estudantil, oferecendo um serviço rapido e objetivo ao acesso a
                    informação com poucos cliques junto a uma interface amigavel</li>
                <li class="list-group-item">Aprendizado em tecnicas de trabalho em desemvolvimento como Scrum,
                    Backlog e Kanban, além de outras documentações.
                </li>
            </ul>
            <br>
            <h5 class="text-center"><a href="https://github.com/SimpleR1ick/Template_Projeto_Integrador">Clique aqui para saber mais!</a></h5>
        </div>

        <div class="col-md-6">
            <figure>
                <a href="slide.pdf" download="Manual do Calouro"><img src="img/manual-do-calouro-2.png" class="img-fluid img-project"></a>
                <figcaption class="text-center"></figcaption>
            </figure>
        </div>
    </div>
</div>